<% include ../../common/views/header.ejs %>
<h2>
    Hi <%= receiver.displayName %>,
</h2>

<p>
    You have a direct message waiting for you:
</p>
<p>
    <%= message %> from <%= senderName %>
</p>
<div class="btn-div">
    <a href="<%= loginUrl %>" class="myButton">
        Sign-in to Stitch
    </a>
</div>
<p style="text-align: center">
    Your sign-in email is: <%= receiver.email %>
</p>
<p>
    If you need anything, we can help. Reply to this email or send a new one to us by clicking here. We're online 7 days a week and love to hear from you :)
</p>
<p>
    See you inside!
    <br />
    -- Team Stitch
</p>
<% include ../../common/views/footer.ejs %>
